.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  min-height: 100svh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.status {
  margin-top: 20px;
  padding: 0px 5px;
}

.grid {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.jersey {
  width: 23%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.information {
  margin-top: 15px;
  padding: 0px 10px;
}

.teamName {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
}

.countryName {
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: capitalize;
}

.season {
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: lowercase;
}
