.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.image {
  position: relative;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: lowercase;
  }

  .form {
    width: 65%;
    padding: 30px;
    margin-top: 20px;
    background-color: hsl(0, 0%, 13%);
    border-radius: 20px;

    .sigup {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: lowercase;
      color: hsl(0, 0%, 50%);
    }

    .formWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .inputWrapper {
      width: 100%;
      margin-top: 30px;

      .input {
        width: 100%;
        padding: 20px;
        margin-top: 5px;
      }

      .input::placeholder {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .label {
        display: block;
        text-align: right;
        margin-right: 10px;
        font-size: 14px;
        text-transform: lowercase;
        letter-spacing: 1px;
        font-weight: bold;
      }

      .error {
        display: block;
        color: red;
        letter-spacing: 1px;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 2px;
      }
    }
    .submit {
      width: 70%;
      margin-top: 30px;
      background-color: hsl(0, 0%, 50%);
      color: white;
      font-size: 16px;
      font-weight: 700;
      padding: 15px;
      border: none;
      cursor: pointer;
    }

    .disabled {
      background-color: hsl(0, 0%, 9%);
      cursor: default;
      color: hsl(0, 0%, 50%);
    }
  }
}
